{% extends "home/base.html" %}
{% block title %}about US!{% endblock title %}
{% block css %}static/CSS/About Us!.css{% endblock css %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}

      <div class="container d-flex align-items-center justify-content-center">
        <img src="static/IMG/Mycoder.gif" hright="400px" width="400px" alt="">
      </div>
     <div class="container d-flex align-items-center justify-content-center">
        <h1>MyCoder&copy;</h1>
     </div>
  <div class="container">
   <hr class="border border-primary border-3 opacity-75">
  </div>
  <div class="container">
  <div class="card-group h-90 back">
    <div class="card back-card">
      <img src="static/IMG/Abour-us-learn faster.jpg" class="card-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Learn Faster</h5>
        <p class="card-text">Learn faster with Mycoder&copy;.Mycoder provide easy-to-learn tutorial which anyone can under stand easily.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card back-card">
      <img src="static/IMG/Sourse-code-ral.jpg" class="card-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Free Source code and Notes</h5>
        <p class="card-text">Mycoder&copy; provide free source code and Notes PDF.
          Notes are designed in a simple manner to under stand easily.
        </p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card back-card">
      <img src="static/IMG/certificate.jpg" class="card-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Free certificate</h5>
        <p class="card-text">Mycoder&copy; also provide free Certificate after Successfull complition of Course!.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="container">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1 mt-5 fs-1">Start coding With Mycoder<span class="">&nbsp;It’ll blow your mind.</span></h2>
    <p class="lead">We provide best and easy method to learn complex codes easily.</p>
  </div>
  <div class="col-md-5">
    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
    <img src="static/IMG/AboutUs.gif" width="350px" height="350px" class="rounded" alt="">
  </div>
</div>
</div>
<div class="container">
   <hr class="featurette-divider">
</div>
<div class="container">
<div class="row featurette">
<div class="col-md-7 order-md-2">
  <h2 class="featurette-heading fw-normal lh-1 mt-5 fs-1">Amazing video Lecturs ! <span class="">See for yourself.</span></h2>
  <p class="lead">MyCoder provide top video lectures and notes to Understand the concept easily.</p>
</div>
<div class="col-md-5 order-md-1">
  <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
  <img src="static/IMG/AboutUs_2.gif" width="350px" height="350px" class="rounded" alt="">
</div>
</div>
</div>
<div class="container">
<hr class="featurette-divider">
<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading fw-normal lh-1 mt-5 fs-1">All This For Free!!!<span class="">&nbsp;Checkmate !.</span></h2>
  <p class="lead">yes!, Mycoder provide eduction content for Free! You can accsess Most of the education content for free !.</p>
</div>
<div class="col-md-5">
  <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> -->
  <img src="static/IMG/AboutUs_4.gif" width="350px" height="350px" alt="">
</div>
</div>
</div>

{% endblock body %}