{% extends "home/base.html" %}
{% load static %}
{% block css %}/static/CSS/Home.css{% endblock css %}
{% block body %}
    
<div class="container d-flex align-items-center justify-content-center">
  <h1 class="text-primary">Forntend tutorial</h1>
</div>
  <div class="pt-5"></div>
  <div class="container">
    <hr class="border border-primary border-3 opacity-50">
  </div>
<div class="head-2 d-flex justify-content-center">
  <h2 class="text-decoration-underline">Tutorials Offer Here!</h2>
</div>
</div>
<div class="container">
  <a href="/html1" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/jackson-sophat-_t-l5FFH8VA-unsplash.jpg" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Html Tutorial</h5>
        <p class="card-text">Learn HTML with our comprehensive tutorial. From basic to advanced concepts, learn HTML step-by-step and become proficient in no time.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<a href="/css1" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/csslogo.png" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">CSS Tutorial</h5>
        <p class="card-text">In this tutorial learn basic of CSS language Css is used to design the html page in beautyfull way by adding colors and animations in it!</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<a href="/Project/Course/HTML_Tutorial.html" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/JavaScript-Symbol.png" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Javascript Tutorial</h5>
        <p class="card-text"> Learn Javascript with our comprehensive tutorial. From basic to advanced concepts, learn step-by-step and become proficient in no time.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<a href="/Project/Course/Bootstrap_tutorial.html" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/bootstrap_img.png" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bootstrap Tutorial</h5>
        <p class="card-text">Learn the tips and techniques of the latest Bootstrap 5 framework in simple and easy steps and create your own responsive website with much less effort.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<hr class="border border-primary border-3 opacity-50">
<h2 class="text-primary d-flex align-items-center justify-content-center">Other Tutorials</h2>
<hr class="border border-primary border-3 opacity-50">
<a href="/Project/Course/AI_tutorial.html" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/AI.webp" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">AI Tutorial</h5>
        <p class="card-text">This Artificial Intelligence tutorial provides basic and intermediate information on concepts of Artificial Intelligence.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<a href="/Project/Course/Machine_Learing_tutorial.html" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/machine-learing.webp" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Machine Learing</h5>
        <p class="card-text">This tutorial provides both intermediate and basics of machine learning.We will go through Machine Learning.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<a href="/Project/Course/MEAN_STACK_tutorial.html" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/Mean-stack.png" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">MEAN STACK Tutorial</h5>
        <p class="card-text">In this tutorial, you'll build a full stack web application with the MEAN (MongoDB, Express, Angular, and Node.js) stack.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</a>
</div>
<a href="/Project/Course/Full_stack.html" class="text-decoration-none text-dark">
<div class="card mb-3 d-inline-flex ani" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/IMG/full-stack.jpg" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Full STACK Tutorial</h5>
        <p class="card-text">This article explains how to become a full-stack developer, and the skills required to become one.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</a>
</div>
    

{% endblock body %}