{% extends "home/base.html" %}
{% block title %}Mycoder best learing site{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% comment %} {% block homeactive %}active{% endblock homeactive %} {% endcomment %}
{% block body %}
<div class="container d-flex align-items-center justify-content-center">
    <img src="static/IMG/Mycoder.gif" class="img_gif" alt="">
  </div>
  <div class="container d-flex align-items-center justify-content-center mt-2 spa" >
    <span class="font-1">Achieve mastery</span>
  </div>
  <div class="container d-flex align-items-center justify-content-center mt-2 spa">
    <span class="rang">through MyCoder</span>
  </div>
  <div class="container d-flex align-items-center justify-content-center mt-2">
    <p class="fs-3" style="text-align: center;">Improve your development skills by training with your peers on code kata that continuously challenge and push your coding practice.</p>
  </div>
  <div class="btn d-flex align-items-center justify-content-center mt-2 spa" style="cursor: unset;">
    <button type="button" class="btn btn-danger p-4">Get Started !</button>
  </div>
  <div class="container d-flex align-items-center justify-content-center mt-5">
  <div class="card mb-3" style="max-width: 1185px; border: 2px solid #000000d9; border-radius: 10px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/IMG/card gif.gif" class="img-fluid rounded-start h-100" alt="...">
      </div>
      <div class="col-md-8 card-modi">
        <div class="card-body">
          <h1 class="card-title">Sharpen your coding skills</h1>
          <div class="container">
          <p class="card-text fs-3">Challenge yourself on small coding exercises called "kata". Each kata is crafted by the community to help you strengthen different coding techniques. Master your current language of choice, or quickly pick up any of the 55+ programming languages supported.</p>
        </div>
        <a href="#" class="btn btn-danger mt-3">Join The Dojo</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="card text-bg-dark card_modi_1">
    <img src="/static/IMG/back_img.png" class="card-img height" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/Feedback.gif" width="550px" height="300px"  style="border-radius: 10px;" alt="">
      <h5 class="card-title rang_2">Get instant feedback</h5>
      <p class="card-text">Solve kata with your coding style right in the browser and use test cases (TDD) to check it as you progress. Retrain with new, creative, and optimized approaches. Find all of the bugs in your programming practice.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-bg-dark card_modi_1">
    <img src="/static/IMG/back_img.png" class="card-img height" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/Certificate.gif" width="550px" height="300px" style="border-radius: 10px;" alt="">
      <h5 class="card-title rang_2">Earn ranks and honor</h5>
      <p class="card-text">Kata code challenges are ranked from beginner to expert level. As you complete higher-ranked kata, you level up your profile and push your software development skills to your highest potential.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="pt-4"></div>
<div class="container d-flex align-items-center justify-content-center">
  <h2 class="rang heading">An engaged software development community</h2>
</div>
<div class="pt-1"></div>
<div class="container d-flex align-items-center justify-content-center">
  <p class="fs-2 paragraph" >Codewars is a collective effort by its users. They are creators—authoring kata to teach various techniques, solving kata with solutions that enlighten others, and commenting with constructive feedback.</p>
</div>
<div class="pt-2"></div>
<div class="container rang" style="background-image: linear-gradient(to right, #f29871, #ff4d4d);">
  <div class="container text-center" style="background-image: linear-gradient(#ffa5a54d, #4f00ff52); border-radius: 10px;">
    <div class="row">
      <div class="col">
        78K+
        <div class="pt-1"></div>
        <p class="fs-3">Community members added every month</p>
      </div>
      <div class="col">
        1MM+
        <div class="pt-1"></div>
        <p class="fs-3">Kata completed every month</p>
      </div>
      <div class="col">
        9K+
        <div class="pt-1"></div>
        <p class="fs-3">Kata created by our community</p>
      </div>
    </div>
  </div>
</div>
<div class="pt-1"></div>
<div class="container d-flex align-items-center justify-content-center">
  <h1 class="fs-1 rang_2 heading">What can I use MyCoder for?</h1>
</div>
<div class="pt-1"></div>
<div class="container">
  <p class="fs-2" style="text-align: center;">From beginner to expert and beyond...</p>
</div>
<div class="pt-1"></div>
<div class="container tab">
<div class="card-group">
  <div class="card text-bg-dark margin">
    <img src="/static/IMG/back_img.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/Prospective.png" width="50px" height="50px" style="border-radius: 100px;"alt="" class="card_photo">
      <h5 class="card-title rang_2">Get New Prospective</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-bg-dark margin">
    <img src="/static/IMG/back_img.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/Languages.webp" width="50px" height="50px" style="border-radius: 100px;"alt="" class="card_photo">
      <h5 class="card-title rang_2">Learn new languages</h5>
      <p class="card-text">Solve challenges in a language you are comfortable with, then do it in a language you want to improve with. Level up across different languages.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-bg-dark margin">
    <img src="/static/IMG/back_img.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/Compitiion.webp" width="50px" height="50px" style="border-radius: 100px;"alt="" class="card_photo">
      <h5 class="card-title rang_2">Compete with peers</h5>
      <p class="card-text">Compete against your friends, colleagues, and the community at large. Allow competition to motivate you  towards mastering your craft.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<div class="pt-4"></div>
<div class="container">
<div id="carouselExampleAutoplaying" class="carousel slide slidmodi" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/IMG/carosel/1694696580368.jpg" width="1400" height="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5 class="fs-1 fw-bold rang" style="letter-spacing: 2px;">Mycoder</h5>
          <p class="fs-2 rang">Best website to learn programming and more!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/Img/carosel/image.jpg" width="1400" height="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5 class="fs-1 fw-bold rang">Most Reliable Learing Site</h5>
          <p class="fs-2 rang">Kick Start Your learing Journey With Mycoder</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/Img/carosel/testimg.jpg" width="1400" height="400"  class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5 class="fs-1 fw-bold rang_2">Get Certified!</h5>
          <p class="fs-2 rang">We also provide Free certificate on Completion of course!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container d-flex align-items-center justify-content-center no-flex">
  <div class="card text-bg-dark margin">
    <img src="/static/IMG/back_img.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/selfconfidance.png" width="50px" height="50px" style="border-radius: 100px;" alt="" class="card_photo">
      <h5 class="card-title rang_2 fs-2">Build self-confidence</h5>
      <p class="card-text">Not sure if you are progressing well as a programmer? Push yourself to your limits and show yourself what you are really made of.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-bg-dark">
    <img src="/static/IMG/back_img.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <img src="/static/IMG/Mentor.png" width="50px" height="50px" style="border-radius: 100px;" alt="" class="card_photo">
      <h5 class="card-title rang_2 fs-2">Become a mentor</h5>
      <p class="card-text">Lend your expertise to others, either indirectly by contributing great solutions or directly by creating your own kata and reviewing code.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="pt-4"></div>
<div class="container d-flex align-items-center justify-content-center">
  <h2 class="rang">The latest</h2>
</div>
<div class="pt-1"></div>
<div class="conatiner container d-flex align-items-center justify-content-center">
  <p class="rang_2" style="text-align: center;">Insights from MyCoder staff and community.</p>
</div>
<div class="pt-4"></div>
<div class="conatiner d-flex align-items-center justify-content-center">
  <div class="card mb-3" style="max-width: 1139px; border: 2px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/IMG/M.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 bg_color">
        <div class="card-body">
          <h5 class="card-title rang_2 text-center">Join The MyCoder Force!</h5>
          <p class="card-text fs-1 text-ali">We're excited to announce NEW Courses and Challenges  joining forces!</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-4"></div>
<div class="container">
  <div class="card-group">
    <div class="card bg_color_card m-2 margin rounded-4">
      <img src="/static/IMG/routine.jpeg" width="500px" height="300px" class="card-img-top rounded-4" alt="...">
      <div class="card-body">
        <h5 class="card-title rang_2 text-ali fs-2">How to Incorporate Coding Practice In Daily Routine</h5>
        <p class="card-text rang text-ali fs-3">The best way to stay sharp and keep learning is to make coding a daily habit. If you struggle to form new habits or get routines to stick, here are 6 tips to keep you on track.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg_color_card m-2 margin rounded-4">
      <img src="/static/IMG/Progress.jpg" width="500px" height="300px" class="card-img-top rounded-4" alt="...">
      <div class="card-body">
        <h5 class="card-title rang_2 text-ali fs-2">What is Mastery Learning, and How Does It Apply to Coding?</h5>
        <p class="card-text rang text-ali fs-3">Mastery Learning is the idea that you need to master one concept before moving on to the next. Mastery Learning’s effectiveness comes from using iterative, hands-on subject matter practice, assessing and analyzing knowledge gaps, and leveraging insights gained from failures to fully understand the concept at hand. Then, you can move onto the next concept and repeat the process.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}