{% extends "home/base.html" %}
{% block body %}
<div class="container d-flex justify-content-center">
  <img src="static/IMG/HTML_Tutorial.webp" width="443px" height="332px" class="img-fluid rounded" alt="...">
</div>
<div class="container">
  <hr class="border border-primary border-3 opacity-75">
</div>
<div class="container d-flex justify-content-center">
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/htmlvideo">Video Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="static/notes/Android_PDF.pdf">Notes PDF</a>
      </li>
    </ul>
</div>
    <div class="conatiner">
      <h1 class="display-2 d-flex align-items-center justify-content-center">HTML 5 Tutorial</h1>
    </div>
    <div class="container pt-4 fs-4">
      <p>HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial is developed for beginners and professionals. In our tutorial, every topic is given step-by-step so that you can learn it in a very easy way. If you are new in learning HTML, then you can learn HTML from basic to a professional level and after learning HTML with CSS and JavaScript you will be able to create your own interactive and dynamic website. But Now We will focus on HTML only in this tutorial.</p>
    </div>
    <div class="container fs-4">
      <p>The major points of HTML are given below:</p>
    </div>
    <div class="container fs-4">
      <ul>
        <li>HTML stands for HyperText Markup Language.</li>
        <li>HTML is used to create web pages and web applications.</li>
        <li>HTML is widely used language on the web.</li>
        <li>We can create a static website by HTML only.</li>
        <li>Technically, HTML is a Markup language rather than a programming language.</li>
      </ul>
    </div>
       <div class="container d-flex align-items-center justify-content-center"><img src="static/IMG/HTML_Tutorial.webp" alt="" class="img-thumbnail" width="320px" height="320px"></div>
       <div class="container d-flex align-items-center justify-content-center pt-4">
        <h1 class="fs-1 text-primary">What is HTML</h1>
       </div>
       <div class="container"><p class="fs-4">HTML is an acronym which stands for <strong style="text-decoration: underline;" class="text-primary">Hyper Text Markup Language</strong> which is used for creating web pages and web applications. Let's see what is meant by Hypertext Markup Language, and Web page.</p></div>

       <div class="container">
        <p class="fs-4"><strong class="text-primary">Hyper Text:</strong> HyperText simply means "Text within Text." A text has a link within it, is a hypertext. Whenever you click on a link which brings you to a new webpage, you have clicked on a hypertext. HyperText is a way to link two or more web pages (HTML documents) with each other.
        </p>
       </div>
       <div class="container">
        <p class="fs-4"><strong class="text-primary">Markup language:</strong> A markup language is a computer language that is used to apply layout and formatting conventions to a text document. Markup language makes text more interactive and dynamic. It can turn text into images, tables, links, etc.
        </p>
       </div>
       <div class="container">
        <p class="fs-4"><strong class="text-primary">Web Page:</strong> A web page is a document which is commonly written in HTML and translated by a web browser. A web page can be identified by entering an URL. A Web page can be of the static or dynamic type. <strong style="text-decoration: underline;"> With the help of HTML only, we can create static web pages.</strong>
        </p>
       </div>
       <div class="container">
        <p class="fs-4">Hence, HTML is a markup language which is used for creating attractive web pages with the help of styling, and which looks in a nice format on a web browser. An HTML document is made of many HTML tags and each HTML tag contains different content.</p>
       </div>
       <div class="container">
        <h1 class="fs-2 text-success">Let's see a simple example of HTML.</h2>
       </div>
       <div class="container bg-dark text-info border border-primary">
        <h2 class="fs-3">
          <span class="d-block mt-2 ">
            &lt;!Doctype HTML&gt;
          </span>
          <span> &lt;html&gt;</span>
          <span class="d-block mt-2 ">
            &lt;head&gt;
          </span>
          <span class="d-block mt-2 ">
            &lt;title&gt; <span style="color: white;">Webpage title</span> &lt;/title&gt;
          </span>
          <span class="d-block mt-2">
            &lt;/head&gt;
          </span>
          <span class="d-block mt-2">
            &lt;body&gt;
          </span>
          <span class="d-block mt-2">
            &lt;h1&gt; <span style="color: white;">This is heading</span> &lt;/h1&gt;
          </span>
          <span class="d-block mt-2">
            &lt;P&gt; <span style="color: white;">This is paragraph</span>  &lt;/P&gt;
          </span>
          <span class="d-block mt-2">
            &lt;/body&gt;
          </span>
          <span class="d-block mt-2">
            &lt;/HTML&gt;
          </span>
        </h2>
       </div>
       <div class="container">
        <h1 class="fs-2">
          Discription of HTML Example:
        </h1>
       </div>
       <div class="container fs-3">
        <p><strong> &lt;!Doctype HTML&gt; </strong>:&nbsp;It defines the document type or it instruct the browser about the version of HTML.</p>
        <p> <strong>&lt;html&gt;:&nbsp;This tag informs the browser that it is an HTML document. Text between html tag describes the web document. It is a container for all other elements of HTML except &lt;!Doctype HTML&gt;</strong> </p>
        <p> <strong>  &lt;head&gt;:</strong>It should be the first element inside the <html> element, which contains the metadata(information about the document). It must be closed before the body tag opens. </p>
        <p> <strong>&lt;title&gt;:</strong> As its name suggested, it is used to add title of that HTML page which appears at the top of the browser window. It must be placed inside the head tag and should close immediately. (Optional)</p>
       <p> <strong>&lt;body&gt;:</strong>Text between body tag describes the body content of the page that is visible to the end user. This tag contains the main content of the HTML document. </p>
       <p> <strong>&lt;h1&gt;:</strong>Text between &lt;h1&gt;tag describes the first level heading of the webpage. </p>
        <p> <strong> &lt;P&gt;:</strong> Text between &lt;P&gt; tag describes the paragraph of the webpage. </p>
       </div>
       <div class="container">
        <h1 class="fs-2 text-success">
          Brief History of HTML
        </h1>
       </div>
       <div class="container fs-3">
        <p>In the late 1980's , a physicist,<strong>Tim Berners-Lee</strong>  who was a contractor at CERN, proposed a system for CERN researchers. In 1989, he wrote a memo proposing an internet based hypertext system.</p>
        <p class="mt-2">Tim Berners-Lee is known as the father of HTML. The first available description of HTML was a document called "HTML Tags" proposed by Tim in late 1991. The latest version of HTML is HTML5, which we will learn later in this tutorial.</p>
       </div>
       <div class="container">
        <h1 class="fs-2 text-success">
          Features of HTML
        </h1>
       </div>
       <div class="container fs-3">
        <p> 1) It is a very easy and simple language. It can be easily understood and modified.</p>
        <p>2) It is very easy to make an effective presentation with HTML because it has a lot of formatting tags.</p>
        <p>3) It is a markup language, so it provides a flexible way to design web pages along with the text.</p>
        <p>4) It facilitates programmers to add a link on the web pages (by html anchor tag), so it enhances the interest of browsing of the user.</p>
        <p>5) It is platform-independent because it can be displayed on any platform like Windows, Linux, and Macintosh, etc.</p>
        <p>6) It facilitates the programmer to add Graphics, Videos, and Sound to the web pages which makes it more attractive and interactive.</p>
        <p>7) HTML is a case-insensitive language, which means we can use tags either in lower-case or upper-case.</p>
       </div>
       {% endblock body %}